html {
    font-size: 82.5%;
}

html, body, header, main, section, article, footer, div, a, ul, li, h1, h2, h3, p {
    /*reset browser's default styling */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

td, tr {
       font-family: 'Dosis', sans-serif;
       font-size: 1.4rem;
       font-weight: bold;
}

th {
       font-family: 'Dosis', sans-serif;
       font-size: 1.5rem;
       color: white;
       font-weight: bold;
       background-color: #073847;
}

a {
    /* remove underline on hyperlinks */
    text-decoration: none;
}

li {
    /* remove bullets on lists */
    list-style: none;
}

/* #atf contains: */
/*      header */
/*      laptop image (#laptop-img) */
/*      todo list (#todo) */
#atf {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* set the laptop image */
#laptop-img {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    /* grow the laptop image to fill in unused space */
    flex-grow: 1;
}

#laptop-img1:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../IMG/glenn-carstens-peters-RLw-UC03Gwc-unsplash.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top center;
        background-size: cover;
        /* grow the laptop image to fill in unused space */
        flex-grow: 1;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}

/* HEADER */

/* header will contain: */
/*      all screen sizes (resolutions): */
/*              the logo: THE ENDLESS JOURNEY */
/*      large screen sizes (resolutions): */
/*              navigation links: SPONSORS / MUSIC / PICTURES / MAP / BLOG */
header {
    font-family: 'Dosis', sans-serif;
    color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

#sp-header{
    background:rgba(255,255,255,0.6);
    position:fixed;
    left:0;
    top:0;
    transition:background 0.5s ease;
}
#sp-header.header-sticky{
    background:#fff;
}

/* logo: THE ENDLESS JOURNEY */
#logo {

    /* make a large touch target */
    /* expand the element to fill height */
    height: 100%;

    /* make a large touch target */
    /* expand the element to fill width
    along primary axis ( horizontally ) */
    flex-grow: 1;

    /* font styling */
    color: #654da0;
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;

    /* center text */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* change the logo's text color when mouse hover's over it */
#logo:hover {
    color: #0266C8;
}

#logout {

    /* make a large touch target */
    /* expand the element to fill height */
    height: 100%;

    /* make a large touch target */
    /* expand the element to fill width
    along primary axis ( horizontally ) */
    flex-grow: 1;

    /* font styling */
    color: #654da0;
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;

    /* center text */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* change the logo's text color when mouse hover's over it */
#logout:hover {
    color: #0266C8;
}


/* disable menu in header */
/* on small devices, menu is displayed below the fold */
/* nav desktop (nd) */
.nd {
    display: none;
}

.form-group {
font-size: 1.3rem;
}

.form-control {
font-size: 1.3rem;
}

/* CALL TO ACTION (cta) */
#todo {

    /* set the height of the cta container */
    height: 100px;

    /* center text and button containers */
    /*      #todo-txt */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#todo-txt {

    /* format text */
    font-family: 'Dosis', serif;
    font-weight: 300;
    font-size: 3.5rem;
    letter-spacing: 2px;
    color: #654da0;

    /* center text old fashioned-way */
    text-align: center;
}

/* ------------------------------------------- */
/* BELOW THE FOLD (btf) */
/* ------------------------------------------- */

/* create flex containers for
        images
        articles
*/
.btf-images, .btf-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* images */
.btf-images img {
    margin: 5px;
}

/* articles */
.btf-articles article {
    padding: 10px;
}

h1 {
font-family: 'Dosis', sans-serif;
font-size: 5rem;
}

.btf-articles h3 {
    /* font format */
    font-family: 'Dosis', sans-serif;
    color: #654da0;
    font-size: 2.4rem;
    font-weight: 400;
}

.btf-articles p {
    /* font format */
    font-family: 'Dosis', serif;
    color: #654da0;
    font-size: 1.6rem;
    font-weight: 300;
}

footer {
    height: 70px;
    background-color: rgba(6, 64, 84, 0.9);

    /* flex container to hold content */
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #999;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}

